/*** General Styles ***/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
	font-family: "Noto Sans", sans-serif;
	color: #5d3204;
	text-align: center;
	background-color: #bbe39e;
}

/*** Grid System ***/
.row {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}

/*** Game Section ***/
.game-container {
	width: 510px;
	height: 600px;
	position: relative;
	margin: 0 auto;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.game {
	z-index: 1;
}

.menu {
	z-index: 2;
}

/*** Header Section ***/
h1 {
	font-size: 2.8em;
	padding-bottom: 0;
	margin: 0;
}

.title {
	text-align: right;
}

.game-title {
	text-align: left;
}

h2 {
	font-size: 1.5em;
	margin: 0;
	padding: 0 0 10px 0;
}

.underline {
	border-bottom: 2px solid #629c39;
}

/*** Instructions Section ***/
h3 {
	font-size: 1.5em;
}