@import url("http://fonts.googleapis.com/css?family=Noto+Sans");

body {
	font-family: "Noto Sans", sans-serif;
	color: #5d3204;
    text-align: center;
    background-color: #bbe39e;
}

.game-container {
	width:510px;
	height:600px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

canvas {
	position: absolute;
	left:0;
	top:0;
}

.game {
	z-index: 1;
}

.menu {
	z-index: 2;
}

h1 {
	font-size: 2.8em;
	padding-bottom: 0;
	margin: auto 0 auto;
}

.title {
	text-align: right;
}

.game-title {
	text-align: left;
}

h2 {
	font-size: 1.5em;
	padding-top: 0;
	margin: auto 0 auto 0;
	padding-bottom: 10px;
}

h3 {
	font-size: 1.5em;
}

.underline {
	border-bottom: 2px solid #629c39;
}

.row {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

.col-6 {
	width: 50%;
}

.col-12 {
	width: 100%;
}